
<div class="image">
    <img src="../../assets/bytestrone.png" alt="bytestrone image" />
  </div>
  
<div class="house point"   >
    
    <i class="fa fa-home"></i> Home
  </div>
  <div class="asset point"(click)="asset()" >
    <div  id="2"></div>
    <i class="fa-solid fa-window-maximize"></i> Asset Management
  </div>
  
  
  <div class="settings point" >
    <div  id="3"></div>
    <i class="fa-solid fa-gear"></i> Settings
  </div><br>
  <div class="logout point"(click)="out()">
    <div  id="4"></div>
    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
  </div>
  <div class="copyright">
    <p>copyright &#169; 2022 Bytestrone.</p>
    <p class="all-rights">All rights reserved.</p>
  </div>
